/* Global Styles */

* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --secondary-color: #202020;
  --accent-color: #1d74ca;
  --dark-accent-color: hsl(210, 75%, 35%);
  --yellow-btn: #f89500;
  --grey-color: #1d1d1d;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  cursor: default;
  background-color: #000;
  color: var(--primary-color);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
}

h1,
h2 {
  font-size: clamp(1.8rem, 3.4vw, 4rem);
  font-weight: 800;
}

h3 {
  font-size: clamp(1rem, 1.5vw, 3rem);
}

p {
  font-size: clamp(1rem, 1.45vw, 2rem);
}

a {
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
}

li {
  list-style-type: none;
}

.large-p {
  font-size: clamp(1.2rem, 1.9vw, 2rem);
}

.bold-text {
  font-weight: 700;
}

.black-text {
  color: var(--secondary-color);
}

button {
  padding: 0.5rem 1.2rem;
  color: var(--primary-color);
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.blue-btn {
  background-color: var(--accent-color);

  &:hover {
    background-color: var(--dark-accent-color);
  }
}

.yellow-btn {
  background-color: var(--yellow-btn);

  &:hover {
    background-color: hsl(36, 100%, 39%);
  }
}

.transparent-btn {
  background-color: transparent;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding-inline: 9rem;
}

.flex {
  display: flex;
  gap: 0.5rem;
}

.center {
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.border-bottom {
  border-bottom: 6px solid #3a3a3a;
  padding-block: 5rem;
}

.opacity-hover {
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

/* Header Styles */

header {
  position: absolute;
  background-color: transparent;
  width: 100%;
  z-index: 3;
}

nav {
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;
}

.logo {
  /* max-width: 5.5rem; */
  max-width: clamp(4rem, 6vw, 5.5rem);
}

/* Hero Styles */

#hero {
  position: relative;
  background-image: url(images/hero-bg.png);
  height: 100vh;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;

  .container {
    height: 100%;
    border-bottom: 6px solid #fff;
  }
}

.hero-mess {
  position: relative;
  flex-direction: column;
  gap: 1rem;
  z-index: 2;
  height: 100%;
  padding-top: 10%;
  padding-inline: 2rem;
  text-align: center;
}

.call-to-action {
  margin-top: 1rem;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.call-input,
.call-button {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  padding: 1rem;
}
.call-input {
  background-color: #20202067;
  border: 0.1px solid #777676;
  min-width: clamp(25vw, 30vw, 40vw);
  color: var(--primary-color);
}

.hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.774);
  z-index: 1;
}

/* Banner Styles */

.banner {
  padding-block: 5rem;
  align-items: center;

  & h2 {
    padding-bottom: 0.4rem;
  }
}

.banner > div {
  flex: 1;
}

.img-container,
.text-container {
  padding: clamp(1rem, 2rem, 3rem);
}

.too-large {
  max-width: 90%;
}

/* Subscription Styles */

.options {
  gap: 2rem;

  & img {
    max-height: 1.7rem;
  }
}

.bundle-plan,
.base-plan {
  position: relative;
}

.plan-btn {
  opacity: 0.7;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.active-btn {
  background-color: var(--yellow-btn);
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* plan cards */

.cards-container {
  padding: 2rem;
}

.wrapper {
  width: 390px;
  background-color: var(--secondary-color);
  border-radius: 16px;
  padding: 30px;
  box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.05);
}
.wrapper header {
  height: 55px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  position: relative;
}
header label {
  height: 100%;
  z-index: 2;
  width: 30%;
  display: flex;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}
#tab-1:checked ~ header .tab-1,
#tab-2:checked ~ header .tab-2,
#tab-3:checked ~ header .tab-3 {
  color: #fff;
}
header label:nth-child(2) {
  width: 40%;
}
header .slider {
  position: absolute;
  height: 85%;
  border-radius: inherit;
  background: linear-gradient(135deg, #0067c0 0%, #ffa500 100%);
  transition: all 0.3s ease;
}
#tab-1:checked ~ header .slider {
  left: 0%;
  width: 90px;
  transform: translateX(5%);
}
#tab-2:checked ~ header .slider {
  left: 50%;
  width: 120px;
  transform: translateX(-50%);
}
#tab-3:checked ~ header .slider {
  left: 100%;
  width: 95px;
  transform: translateX(-105%);
}
.wrapper input[type="radio"] {
  display: none;
}
.card-area {
  overflow: hidden;
}
.card-area .cards {
  display: flex;
  width: 300%;
}
.cards .row {
  width: 33.4%;
}
.cards .row-1 {
  transition: all 0.3s ease;
}
#tab-1:checked ~ .card-area .cards .row-1 {
  margin-left: 0%;
}
#tab-2:checked ~ .card-area .cards .row-1 {
  margin-left: -33.4%;
}
#tab-3:checked ~ .card-area .cards .row-1 {
  margin-left: -66.8%;
}
.row .price-details {
  margin: 20px 0;
  text-align: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #e6e6e6;
}
.price-details .price {
  font-size: 65px;
  font-weight: 600;
  position: relative;
}
.price-details .price::before,
.price-details .price::after {
  position: absolute;
  font-weight: 400;
}
.price-details .price::before {
  content: "₱";
  left: -13px;
  top: 17px;
  font-size: 20px;
}
.price-details .price::after {
  content: "/mon";
  right: -33px;
  bottom: 17px;
  font-size: 13px;
}
.price-details p {
  font-size: 18px;
  margin-top: 5px;
}
.row .features li {
  display: flex;
  font-size: 15px;
  list-style: none;
  margin-bottom: 10px;
  align-items: center;
}
.features li i {
  background: linear-gradient(135deg, #ffa500 70%, #0067c0 30%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.features li span {
  margin-left: 10px;
}
.wrapper button {
  width: 100%;
  border-radius: 25px;
  height: 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  background: linear-gradient(135deg, #0067c0 0%, #ffa500 100%);
  transition: transform 0.3s ease;
}
.wrapper button:hover {
  transform: scale(0.98);
}

.notice-container p {
  font-size: 0.9rem;
  color: #ffffffb0;
}

/* how styles */

.video-container {
  aspect-ratio: 16/9;
  overflow: hidden;
  flex-direction: column;
  gap: 1.5rem;
}

.video-container iframe {
  width: 75%;
  height: 75%;
  border: none;
}

.steps {
  flex-direction: column;
}

.step {
  flex-direction: column;
  /* border: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color); */
  border-radius: 10px;
  max-width: 60%;
  text-align: justify;
}

.step-wrapper {
  padding: 1rem;
}

.step1 {
  position: relative;
  max-width: fit-content;
  padding-left: 3rem;
}

.step-detail {
  padding-left: 2.4rem;
}

.step-no {
  border: 1px solid var(--primary-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  gap: 1rem;
  position: absolute;
  top: 3%;
  left: 1%;
}

/* methods */

.payment-methods {
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}

.payment-app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 1rem;

  & li {
    list-style-type: disc;
  }
}

.method-card {
  border: 0.1px solid var(--primary-color);

  max-width: 300px;
  padding: 2rem;

  & p {
    font-size: 1rem;
  }

  .method-title {
    padding: 1rem;

    & span {
      font-size: 2rem;
      padding: 0.5rem;
    }
  }
  /* here ako natapos */
}

.method-desc {
  text-align: start;
  color: #ccc;
}

.boldy {
  font-weight: 500;
  font-size: 1rem;
  padding-block: 0.5rem;
  color: var(--primary-color);
}
.underline-hover:hover {
  text-decoration: underline;
}

.app-links-btns button {
  padding: 0;
}

.final-message {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 3rem;
}

.justify {
  text-align: justify;
  flex-direction: column;
  gap: 1.5rem;
}

.grey-box {
  background-color: var(--secondary-color);
  border-radius: 7px;
  margin: 0 auto;
  max-width: 550px;
  padding: 1rem;
  margin-block: 1rem;
}

/* faqs */

#faq .container {
  justify-content: center;
}

.faqs-container {
  flex-direction: column;
}

.faq {
  max-width: 70%;
  gap: 1px;
}

.question {
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  & svg {
    fill: var(--primary-color);
  }

  &:hover {
    background-color: hsl(0, 0%, 24%);
  }
}

.question {
  background-color: #2d2d2d;
  padding: 1.4rem 1rem;
  /* border: 0.5px solid #ccc; */
}

.answer p {
  margin: 1.4rem 1rem;
}

.answer {
  max-height: 0;
  background-color: #2d2d2d;
  padding: 0;
  overflow: hidden;
  transition: max-height 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.faq.active .answer {
  max-height: 800px;
  /* padding: 1.4rem 1rem; */
}

.faq svg {
  transition: transform 0.4s ease-in;
}

.faq.active svg {
  transform: rotate(180deg);
}

.column {
  flex-direction: column;
}

/* Footer Sheesh */

footer {
  padding-block: 5rem;
}

footer .container {
  justify-content: space-between;
  align-items: center;
}

.privacy-links .flex,
.socmed-links .flex {
  gap: clamp(0.7rem, 4vw, 2rem);
}

.socmed-links span {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

/* Responsiveness */

@media (max-width: 1270px) {
  .container {
    padding-inline: 1.5rem;
  }

  .step {
    min-width: 80%;
  }
}

@media (max-width: 700px) {
  .banner {
    flex-direction: column;

    & > div {
      flex: 0;
    }

    .text-container {
      padding-top: 0;
    }
  }

  /* .logo {
    max-width: 4rem;
  } */

  .on-top {
    order: 1;
  }

  .on-bottom {
    order: 2;
  }

  .options img {
    max-height: 1rem;
  }

  .step {
    max-width: 80%;
  }

  .step-wrapper {
    padding: 0.5rem;
  }

  .faq {
    max-width: 90%;
  }
}
